html, body, svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10vh;
}

html, body {
    height: 100%;
}

body {
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.circle-notch {
    fill: currentColor;
    height: 1em;
    width: 1em;
    position: relative;
    left: 0;
    animation-name: spinner;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-play-state: running;*/
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} 
}

