html, body, svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-notch {
    fill: currentColor;
    height: 20vh;
    width: 20vh;
    animation-name: spinner;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} 
}

