body {
    display: flex;
    flex-flow: row wrap;
    }
div {
    box-sizing: border-box;
    width: 100%;
    min-height: 11rem;
    border: 2px solid orangered;
    border-radius: 10px;    background-color: plum;
    text-align: center;
    color: rgb(83, 30, 83);
    background-size: cover;
    background-repeat: no-repeat;
}
.box3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    text-align: right;
    background-image: url(images/PXL_20210401_194556438.PORTRAIT.jpg);

}
.box1 {
    background-image: url(images/PXL_20210330_150728698.PORTRAIT.jpg);
}
.box2 {
    background-image: url(images/PXL_20210330_150808509.PORTRAIT.jpg);
}
.box4 {
    background-image: url(images/PXL_20210330_150910990.PORTRAIT.jpg);
}
.box5 {
    background-image: url(images/PXL_20210330_151233852.PORTRAIT.jpg);
}
.box6 {
    background-image: url(images/PXL_20210408_173821788.PORTRAIT.jpg);
}
.box7 {
    background-image: url(images/PXL_20210409_173724769.PORTRAIT.jpg);
}