body {
    margin: 0 auto;
}
.box1 {
    width: 50%;
}
.box2 {
    width: 50%;
}
.box4, .box5, .box6, .box7 {
    width: 25%;
}
.box7 {
    order: 6;
}
.box6 {
    order: 7;
}
.box5 {
    order: 4;    
}
.box4 {
    order: 5;
}