body, section, h1, h2, h3, button, header {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*border: 10px solid green*/
    font-family: 'Cantarell', sans-serif;
    color: whitesmoke;
}

body {
    
    /*border: 10px solid hotpink;*/
}

header {
    height: 20px;
    position: fixed;
    background-color:rgb(1, 1, 1);
}

#idx-atf {
    /*layout*/
    height: 100vh;
    /*border: 10px solid blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    /*background*/
    background-color: rgb(190, 189, 189);
    background-image: url(images/background-photo.jpg);
    background-size: cover; background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-attachment: fixed;
    /*text formating*/
}

#idx-atf > div {
    height: 18vh;
}

.idx-center-spacebetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.idx-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.4rem;
}

button {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid rgb(202, 250, 234);
    color: rgb(202, 250, 234);;
    border-radius: 3px;
    padding: 0.5rem;
    margin-top: 2rem;
}