.first {height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 10px;
}
.second {height: 100px;
    width: 100px;
    background-color: crimson;
    border: 20px groove purple;
}
