i.fa {
    display: none;
}

ul  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;    
}

li {
    margin: 10px;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}