div {width: 300px;
    height: 300px;
    background-color: aqua;
    border: 20px groove orangered;
    background-image: url("../images/PXL_20210323_152129633.PORTRAIT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}