body {
    padding: 0.3rem;
    margin: 0 20px;
}

.side1 {
    width: 20%;
    order: 2;
}

article {
    width: 60%;
    order: 3;
}

.side2 {
    width: 20%;
    order: 4;
}

footer {
    order: 5;
}