ul {
    list-style: none;
    background-color: deepskyblue;
    /*border-top: whitesmoke;
    border-bottom: gray;
    text-align: center;*/
}

a {
    text-decoration: none;
    /*background-color: rgb(2, 188, 245);*/
    border-top: 1px solid  whitesmoke;
    border-bottom: 1px solid gray;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}

a:hover {
    background-color: royalblue;
}
li:last-child {
    border-bottom: none;
}